.auth-left-wrapper{
    background-image: url('../../assets/images/image-login.jpg') !important;
    background-size: cover;
    background-position: center;
}

.box {
    background-image: url('../../assets/images/inicio.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }